/* Google Fonts  */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

/* Variables  */
:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --white-color: #fff;
}

.dark-mode {
    --primary-color: #fff;
    --secondary-color: #000;
}
#dark-mode {
    color: #000;
  }
.show {
    display: inline;
}

.hide {
    display: none;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

body {
    color: var(--primary-color);
}

img {
    width: 100%;
}

/* CART  */
.cart {
    position: fixed;
    top: 50px;
    right: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px 4px var(--primary-color);
    border: 1px solid var(--seconary-color);
    transition: 1.5s;
    z-index: 100;

}

.cart.active {
    right: 0;
    transition: .5s;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: .5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--primary-colo);
    outline-color: var(--primary-colo);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 25px;
    color: #01aba2;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--primary-colo);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: .5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #01aba2;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #025c57;
    box-shadow: 0 0 20px 4px var(--primary-color);
    border-radius: 40%;

}

#cart-close {
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

/* SHOP SECTION  */
.shop {
    margin-top: 2rem;
}

.section-title {
    font-style: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop-content {
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    gap: 1.5rem;
    
    
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 12px solid var(--secondary-color);
    transition: .5s;
}

.product-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: var(--primary-colo);
}

.product-price {
    font-weight: 500;
    color: var(--primary-color);
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: var(--secondary-colo);
    color: var(--primary-color);
}


/* ================ RESPONSIVE & BREAKPOINTS ============= */
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .shop {
        margin-top: 2rem;
    }
}

/* For Medium Devices */
@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    .cart {
        width: 320px;
    }
}

/* For Small Devices */
@media (max-width: 360px) {
    .shop {
        margin-top: 1rem;
    }

    .cart {
        width: 280px;
    }
}