@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
    background-color: #ecf2f5;
    border-style: hidden;
    border-color: #ecf2f5;
    border-width: 5px;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
/*/////////////////////////////////////////////////////////////////// Images Section ////////////////////////////////////////////////////////////////////// */
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
    width: 75px;                                                    
    height: 340px;
    padding-right: 10%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
    padding: 0.8rem;
    width: 90px;
    height: 100px; 
    background-color: #01aba2;
    position: relative;
    left: 85px;
    border-radius: 45%;
    border-style: solid;
    border-color: #03cca0;
    border-width: 3px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;   
}  

.img-item img {
    max-height: 100%;
}

/*///////////////////////////////////////////////////////////// My Code //////////////////////////////////////////////////////////////////// */

.img-showcase img:nth-child(2) {
    padding: 5% 20% 10% 10% ; 
    width: 60px;
    height: 340px;
}
.img-showcase img:nth-child(3) {
    width: 350px;
    
}
.img-showcase img:nth-child(4) {
    padding: 5% 20% 10% 20% ; 
}

/*///////////////////////////////////////////////////////////////////////// End Of My Code ///////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////// End Of The Image Section ////////////////////////////////////////////////////////////////////*/

.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    font-size: 200%;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #051223;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #03cca2;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #01aba2;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #b3b5bc;
    text-decoration: line-through;
}
.new-price span{
    color: black;
    font-weight: 600;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.purchase-info{
    margin: 1.5rem 0;
    
}

.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
    border-style: solid;
    border-color: #d0d3dc;
    border-width: 2px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
    
}
.purchase-info .btn:first-of-type{
    background: #051223;
}
.links{
    text-decoration: none;
    color: white;
}

.purchase-info .btn:first-of-type:hover{      /*  */
    background: #01aba2;
}
.purchase-info .btn:last-of-type{                         /* ADD TO FAVORITE */
    padding: 2% 2% 1% 2% ;
    color: #bbbdc6; 
    border-style: solid;
    border-color: #03cca2;
    border-width: 2px;
}

 .purchase-info .btn:last-of-type:hover{      /*  */
    color:#a6a8b0;
} 

.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #01aba2;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}



