/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

/* Variables  */
/* :root{
    --main-color: #fd4646;
    --sec-color: #4946fd;
    --text-color: #171427;
    --bg-color: #fff;
} */

.products_container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.products_section {
    padding: 4rem 0 3rem;
}

.products_body {
    color: #171427;
}

img {
    width: 100%;
}

/* =======================================  */
/* HEADER  */

.products-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.products_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.products_logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: #4946fd;
    text-transform: uppercase;
}

.products_logo span {
    color: #fd4646;
    font-weight: 700;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}



.cart {
    position: fixed;
    top: 50px;
    right: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid #fd4646;
    transition: 1.5s;
    z-index: 100;
}

.cart.active {
    right: 0;
    transition: .5s;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: .5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid #171427;
    outline-color: #fd4646;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: #fd4646;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #171427;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: .5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #4946fd;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #171427;
}

#cart-close {
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: #171427;
    cursor: pointer;
}

/* SHOP SECTION  */

.section-title {
    font-style: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop-content {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid #171427;
    transition: .4s;
}

.product-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.product-price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #171427;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: hsl(249, 32%, 17%);
}


/* ================ RESPONSIVE & BREAKPOINTS ============= */
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .shop {
        margin-top: 2rem;
    }
}

/* For Medium Devices */
@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    .cart {
        width: 320px;
    }
}

/* For Small Devices */
@media (max-width: 360px) {
    .shop {
        margin-top: 1rem;
    }

    .cart {
        width: 280px;
    }
}